[Unit]
Description=Lemurs
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty2.service

[Service]
ExecStart=/usr/bin/lemurs
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
Type=idle

[Install]
Alias=display-manager.service

